Body {
    font-family: Sans-serif;
    font size: 14;
    width: 100%;
    background-color: #f3eaea;
    border-color: #723d46;
  }
  
  h1 {
    position: absolute;
    left: 16px;
    top: 16px;
  }
  
  menu {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  
  
