Body {
    font-family: Sans-serif;
    font size: 14;
    width: 100%;
    background-color: #D3D3D3;
  }
  
  h1 {
    position: absolute;
    left: 16px;
    top: 16px;
  }
  
  menu {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  button{
    background-color:rgb(227, 227, 214);
  }
  
  button:hover{background-color:rgb(110, 158, 113);}
  
  button:focus{background-color:rgb(25, 86, 37);}

  
